body {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}

h2 {
  font-family: 'Cutive Mono', monospace;
  text-align: center;
  color: #ed4c4c;
}

img {
  width: 300px;
  height: auto;
  border-radius: 5px;
}

#pizzaOrder {
  display: none;
}

#box-shadow {
  box-shadow: -5px -5px 5px rgba(145,148,163,0.71);
}
