body {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}

h2 {
  font-family: 'Cutive Mono', monospace;
  text-align: center;
}

img {
  width: 300px;
  height: auto;
}

#pizzaOrder {
  display: none;
}
