body {
  font-family: 'Noto Sans', sans-serif;
}

img {
  width: 15%;
}

/*.container {
	border: 10px solid #ed4c4c;
	padding: 10px;
  padding-bottom: 300px;
  margin: 0 auto;
  text-align: center;
 }*/

#pizzaOrder {
  display: none;
}
/*
.top {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 75px;
  margin-bottom: 75px;
}*/
